.wrapper {
	height: 10em;
    position: relative;
}

.wrapper h1{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.wrapper h3{
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

body {
   background-color: rgb(188, 188, 188);
}
